In [0]:
spark.sql("DROP TABLE IF EXISTS tmp_cat_tipo_vehiculo")

spark.sql("""
    CREATE OR REPLACE TABLE tmp_cat_tipo_vehiculo AS
    SELECT * FROM tfm_silver_ctg.cat_tipo_vehiculo LIMIT 0
""")

In [0]:
spark.sql("""
    INSERT INTO tmp_cat_tipo_vehiculo (tipo_vehiculo, descripcion, fecha_desde, fecha_hasta) VALUES
    ('N/E', 'No especificado o Faltante', '1900-01-01 00:00:00', NULL),
    ('PESADO',  'Vehículo pesado',  '1900-01-01 00:00:00', NULL),
    ('LIVIANO', 'Vehículo liviano', '1900-01-01 00:00:00', NULL);
""")

In [0]:
%sql
INSERT INTO tfm_silver_ctg.cat_tipo_vehiculo (tipo_vehiculo, descripcion, fecha_desde, fecha_hasta)
SELECT t.tipo_vehiculo, t.descripcion, t.fecha_desde, t.fecha_hasta
FROM tmp_cat_tipo_vehiculo t
LEFT JOIN tfm_silver_ctg.cat_tipo_vehiculo c
  ON t.tipo_vehiculo = c.tipo_vehiculo
WHERE c.tipo_vehiculo IS NULL

In [0]:
spark.sql("DROP TABLE IF EXISTS tmp_cat_tipo_vehiculo")