In [0]:
spark.sql("DROP TABLE IF EXISTS tmp_hmg_clase")

spark.sql("""
    CREATE OR REPLACE TABLE tmp_hmg_clase AS
    SELECT * FROM tfm_silver_hmg.homologacion WHERE dominio = 'clase' LIMIT 0
""")

In [0]:
spark.sql("""
    INSERT INTO tmp_hmg_clase (dominio, columna_origen, valor_original, catalog_id, fecha_desde, fecha_hasta) VALUES
    ('clase', 'CLASE', 'TRAILER', 3, '1900-01-01 00:00:00' , NULL ),
    ('clase', 'CLASE', 'TANQUERO', 5, '1900-01-01 00:00:00' , NULL ),
    ('clase', 'CLASE', 'ESPECIAL', 9, '1900-01-01 00:00:00' , NULL ),
    ('clase', 'CLASE', 'OMNIBUS', 8, '1900-01-01 00:00:00' , NULL ),
    ('clase', 'CLASE', 'CAMION', 2, '1900-01-01 00:00:00' , NULL ),
    ('clase', 'CLASE', 'VOLQUETA', 10, '1900-01-01 00:00:00' , NULL ),
    ('clase', 'CLASE', 'MOTOCICLETA', 4, '1900-01-01 00:00:00' , NULL ),
    ('clase', 'CLASE', 'CAMIONETA', 11, '1900-01-01 00:00:00' , NULL ),
    ('clase', 'CLASE', 'JEEP', 6, '1900-01-01 00:00:00' , NULL ),
    ('clase', 'CLASE', 'AUTOMOVIL', 7, '1900-01-01 00:00:00' , NULL );
""")

In [0]:
%sql
INSERT INTO tfm_silver_hmg.homologacion (dominio, columna_origen, valor_original, catalog_id, fecha_desde, fecha_hasta)
SELECT t.dominio, t.columna_origen,t.valor_original, t.catalog_id ,t.fecha_desde, t.fecha_hasta
FROM tmp_hmg_clase t
LEFT JOIN tfm_silver_hmg.homologacion c
  ON t.dominio = c.dominio
  AND t.columna_origen = c.columna_origen
  AND t.valor_original = c.valor_original
  AND t.catalog_id = c.catalog_id
WHERE c.regla_id IS NULL

In [0]:
spark.sql("DROP TABLE IF EXISTS tmp_hmg_clase")