In [0]:
spark.sql("DROP TABLE IF EXISTS tmp_hmg_pais")

spark.sql("""
    CREATE OR REPLACE TABLE tmp_hmg_pais AS
    SELECT * FROM tfm_silver_hmg.homologacion WHERE dominio = 'pais' LIMIT 0
""")

In [0]:
spark.sql("""
  INSERT INTO tmp_hmg_pais (dominio, columna_origen, valor_original, catalog_id, fecha_desde, fecha_hasta) VALUES
  ('pais', 'PAIS', 'ESPA?A', 27, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'ESPAÑA', 27, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'ESPAÐA', 27, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'SUDAFRICA  (CISKEI)', 34, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'PAISES BAJOS (HOLANDA)', 20, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'COREA DEL SUR', 19, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'PORTUGAL', 10, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'INDONESIA', 43, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'BELGICA', 3, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'ARGENTINA', 12, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'JAPON', 2, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'AUSTRIA', 11, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'VIETNAM', 41, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'REINO UNIDO', 21, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'SUECIA', 15, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'INDIA', 36, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'RUSIA', 32, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'CANADA', 33, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'CHINA POPULAR', 26, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'NUEVA ZELANDA', 30, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'POLONIA', 7, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'TURQUIA', 9, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'BRASIL', 31, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'FRANCIA', 13, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'EMIRATOS ARABES UNIDOS', 14, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'COLOMBIA', 23, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'ECUADOR', 38, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'MEXICO', 35, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'ESLOVAQUIA', 37, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'REPUBLICA CHECA', 39, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'HUNGRIA', 24, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'ITALIA', 40, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'ALEMANIA', 28, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'ESTADOS UNIDOS', 5, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'PERU', 29, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'TAILANDIA', 8, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'VENEZUELA', 17, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'AUSTRALIA', 16, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'RUMANIA', 22, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'SUIZA', 6, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'CHECOESLOVAQUIA', 25, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'CHILE', 4, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'MARRUECOS', 18, '1900-01-01 00:00:00' , NULL ),
  ('pais', 'PAIS', 'TAIWAN (CHINA)', 42, '1900-01-01 00:00:00' , NULL );
""")

In [0]:
%sql
INSERT INTO tfm_silver_hmg.homologacion (dominio, columna_origen, valor_original, catalog_id, fecha_desde, fecha_hasta)
SELECT t.dominio, t.columna_origen,t.valor_original, t.catalog_id ,t.fecha_desde, t.fecha_hasta
FROM tmp_hmg_pais t
LEFT JOIN tfm_silver_hmg.homologacion c
  ON t.dominio = c.dominio
  AND t.columna_origen = c.columna_origen
  AND t.valor_original = c.valor_original
  AND t.catalog_id = c.catalog_id
WHERE c.regla_id IS NULL

In [0]:
spark.sql("DROP TABLE IF EXISTS tmp_hmg_pais")