In [0]:
spark.sql("DROP TABLE IF EXISTS tmp_cat_pais")

spark.sql("""
    CREATE OR REPLACE TABLE tmp_cat_pais AS
    SELECT * FROM tfm_silver_ctg.cat_pais LIMIT 0
""")

In [0]:
spark.sql("""
  INSERT INTO tmp_cat_pais (pais, descripcion, fecha_desde, fecha_hasta) VALUES
  ('N/E', 'No especificado', '1900-01-01 00:00:00.000', NULL),
  ('JAPON', NULL, '1900-01-01 00:00:00', NULL),
  ('BELGICA', NULL, '1900-01-01 00:00:00', NULL),
  ('CHILE', NULL, '1900-01-01 00:00:00', NULL),
  ('ESTADOS UNIDOS', NULL, '1900-01-01 00:00:00', NULL),
  ('SUIZA', NULL, '1900-01-01 00:00:00', NULL),
  ('POLONIA', NULL, '1900-01-01 00:00:00', NULL),
  ('TAILANDIA', NULL, '1900-01-01 00:00:00', NULL),
  ('TURQUIA', NULL, '1900-01-01 00:00:00', NULL),
  ('PORTUGAL', NULL, '1900-01-01 00:00:00', NULL),
  ('AUSTRIA', NULL, '1900-01-01 00:00:00', NULL),
  ('ARGENTINA', NULL, '1900-01-01 00:00:00', NULL),
  ('FRANCIA', NULL, '1900-01-01 00:00:00', NULL),
  ('EMIRATOS ARABES UNIDOS', NULL, '1900-01-01 00:00:00', NULL),
  ('SUECIA', NULL, '1900-01-01 00:00:00', NULL),
  ('AUSTRALIA', NULL, '1900-01-01 00:00:00', NULL),
  ('VENEZUELA', NULL, '1900-01-01 00:00:00', NULL),
  ('MARRUECOS', NULL, '1900-01-01 00:00:00', NULL),
  ('COREA DEL SUR', NULL, '1900-01-01 00:00:00', NULL),
  ('HOLANDA', NULL, '1900-01-01 00:00:00', NULL),
  ('REINO UNIDO', NULL, '1900-01-01 00:00:00', NULL),
  ('RUMANIA', NULL, '1900-01-01 00:00:00', NULL),
  ('COLOMBIA', NULL, '1900-01-01 00:00:00', NULL),
  ('HUNGRIA', NULL, '1900-01-01 00:00:00', NULL),
  ('CHECOESLOVAQUIA', NULL, '1900-01-01 00:00:00', NULL),
  ('CHINA POPULAR', NULL, '1900-01-01 00:00:00', NULL),
  ('ESPANA', NULL, '1900-01-01 00:00:00', NULL),
  ('ALEMANIA', NULL, '1900-01-01 00:00:00', NULL),
  ('PERU', NULL, '1900-01-01 00:00:00', NULL),
  ('NUEVA ZELANDA', NULL, '1900-01-01 00:00:00', NULL),
  ('BRASIL', NULL, '1900-01-01 00:00:00', NULL),
  ('RUSIA', NULL, '1900-01-01 00:00:00', NULL),
  ('CANADA', NULL, '1900-01-01 00:00:00', NULL),
  ('SUDAFRICA', NULL, '1900-01-01 00:00:00', NULL),
  ('MEXICO', NULL, '1900-01-01 00:00:00', NULL),
  ('INDIA', NULL, '1900-01-01 00:00:00', NULL),
  ('ESLOVAQUIA', NULL, '1900-01-01 00:00:00', NULL),
  ('ECUADOR', NULL, '1900-01-01 00:00:00', NULL),
  ('REPUBLICA CHECA', NULL, '1900-01-01 00:00:00', NULL),
  ('ITALIA', NULL, '1900-01-01 00:00:00', NULL),
  ('VIETNAM', NULL, '1900-01-01 00:00:00', NULL),
  ('CHINA', NULL, '1900-01-01 00:00:00', NULL),
  ('INDONESIA', NULL, '1900-01-01 00:00:00', NULL);
""")

In [0]:
%sql
INSERT INTO tfm_silver_ctg.cat_pais (pais, descripcion, fecha_desde, fecha_hasta)
SELECT t.pais, t.descripcion, t.fecha_desde, t.fecha_hasta
FROM tmp_cat_pais t
LEFT JOIN tfm_silver_ctg.cat_pais c
  ON t.pais = c.pais
WHERE c.pais IS NULL

In [0]:
spark.sql("DROP TABLE IF EXISTS tmp_cat_pais")