In [0]:
spark.sql("DROP TABLE IF EXISTS tmp_cat_subclase")

spark.sql("""
    CREATE OR REPLACE TABLE tmp_cat_subclase AS
    SELECT * FROM tfm_silver_ctg.cat_subclase LIMIT 0
""")

In [0]:
spark.sql("""
  INSERT INTO tmp_cat_subclase (subclase, descripcion, fecha_desde, fecha_hasta) VALUES
  ('N/E', 'No especificado', '1900-01-01 00:00:00.000', NULL),
  ('SEDAN', NULL, '1900-01-01 00:00:00', NULL),
  ('OTROS', NULL, '1900-01-01 00:00:00', NULL),
  ('CANASTILLA', NULL, '1900-01-01 00:00:00', NULL),
  ('BUS ESCOLAR', NULL, '1900-01-01 00:00:00', NULL),
  ('CAJON-C', NULL, '1900-01-01 00:00:00', NULL),
  ('BUS COSTA', NULL, '1900-01-01 00:00:00', NULL),
  ('HIBRIDO-J', NULL, '1900-01-01 00:00:00', NULL),
  ('ELECTRICO-J', NULL, '1900-01-01 00:00:00', NULL),
  ('ELECTRICO-O', NULL, '1900-01-01 00:00:00', NULL),
  ('COMANDO', NULL, '1900-01-01 00:00:00', NULL),
  ('CAMPERO', NULL, '1900-01-01 00:00:00', NULL),
  ('CAJON-T', NULL, '1900-01-01 00:00:00', NULL),
  ('FUNERARIA', NULL, '1900-01-01 00:00:00', NULL),
  ('WINCHA', NULL, '1900-01-01 00:00:00', NULL),
  ('ELECTRICO', NULL, '1900-01-01 00:00:00', NULL),
  ('ELECTRICO-A', NULL, '1900-01-01 00:00:00', NULL),
  ('TRICAR', NULL, '1900-01-01 00:00:00', NULL),
  ('FURGON-C', NULL, '1900-01-01 00:00:00', NULL),
  ('SEDAN-ORTOPEDICO', NULL, '1900-01-01 00:00:00', NULL),
  ('AMBULANCIA', NULL, '1900-01-01 00:00:00', NULL),
  ('TRAIL', NULL, '1900-01-01 00:00:00', NULL),
  ('CONCRETERA', NULL, '1900-01-01 00:00:00', NULL),
  ('FURGON-T', NULL, '1900-01-01 00:00:00', NULL),
  ('JEEP-ORTOPEDICO', NULL, '1900-01-01 00:00:00', NULL),
  ('FURGONETA', NULL, '1900-01-01 00:00:00', NULL),
  ('UTILITY', NULL, '1900-01-01 00:00:00', NULL),
  ('COUPE', NULL, '1900-01-01 00:00:00', NULL),
  ('DOBLE CABINA', NULL, '1900-01-01 00:00:00', NULL),
  ('REPARTO', NULL, '1900-01-01 00:00:00', NULL),
  ('STATION-ORTOPEDICO', NULL, '1900-01-01 00:00:00', NULL),
  ('ARTICULADO', NULL, '1900-01-01 00:00:00', NULL),
  ('ELECTRICO-M', NULL, '1900-01-01 00:00:00', NULL),
  ('BLINDADO', NULL, '1900-01-01 00:00:00', NULL),
  ('PLATAFORMA-C', NULL, '1900-01-01 00:00:00', NULL),
  ('BUSETA', NULL, '1900-01-01 00:00:00', NULL),
  ('CONVERTIBLE', NULL, '1900-01-01 00:00:00', NULL),
  ('CAMION', NULL, '1900-01-01 00:00:00', NULL),
  ('CABEZAL-T', NULL, '1900-01-01 00:00:00', NULL),
  ('TRACTOR', NULL, '1900-01-01 00:00:00', NULL),
  ('MINIBUS', NULL, '1900-01-01 00:00:00', NULL),
  ('HIBRIDO', NULL, '1900-01-01 00:00:00', NULL),
  ('PICK-UP', NULL, '1900-01-01 00:00:00', NULL),
  ('RECOLECTOR', NULL, '1900-01-01 00:00:00', NULL),
  ('DEPORTIVA', NULL, '1900-01-01 00:00:00', NULL),
  ('CUADRON', NULL, '1900-01-01 00:00:00', NULL),
  ('CROSS', NULL, '1900-01-01 00:00:00', NULL),
  ('HIBRIDO-A', NULL, '1900-01-01 00:00:00', NULL),
  ('BUS', NULL, '1900-01-01 00:00:00', NULL),
  ('TANQUERO', NULL, '1900-01-01 00:00:00', NULL),
  ('PLATAFORMA-T', NULL, '1900-01-01 00:00:00', NULL),
  ('PASEO', NULL, '1900-01-01 00:00:00', NULL),
  ('CABINA SIMPLE', NULL, '1900-01-01 00:00:00', NULL),
  ('GRUA', NULL, '1900-01-01 00:00:00', NULL),
  ('JEEP', NULL, '1900-01-01 00:00:00', NULL),
  ('FURGON', NULL, '1900-01-01 00:00:00', NULL),
  ('MOTOBOMBA', NULL, '1900-01-01 00:00:00', NULL),
  ('STATION WAGON', NULL, '1900-01-01 00:00:00', NULL),
  ('DOBLE PISO', NULL, '1900-01-01 00:00:00', NULL),
  ('CAJON', NULL, '1900-01-01 00:00:00', NULL),
  ('ELECTRICO-C', NULL, '1900-01-01 00:00:00', NULL),
  ('VOLQUETA', NULL, '1900-01-01 00:00:00', NULL),
  ('CAMION PEQUENO', NULL, '1900-01-01 00:00:00', NULL),
  ('TRICIMOTO', NULL, '1900-01-01 00:00:00', NULL);
""")

In [0]:
%sql
INSERT INTO tfm_silver_ctg.cat_subclase (subclase, descripcion, fecha_desde, fecha_hasta)
SELECT t.subclase, t.descripcion, t.fecha_desde, t.fecha_hasta
FROM tmp_cat_subclase t
LEFT JOIN tfm_silver_ctg.cat_subclase c
  ON t.subclase = c.subclase
WHERE c.subclase IS NULL

In [0]:
spark.sql("DROP TABLE IF EXISTS tmp_cat_subclase")