In [0]:
spark.sql("DROP TABLE IF EXISTS tmp_cat_tipo_servicio")

spark.sql("""
    CREATE OR REPLACE TABLE tmp_cat_tipo_servicio AS
    SELECT * FROM tfm_silver_ctg.cat_tipo_servicio LIMIT 0
""")

In [0]:
spark.sql("""
    INSERT INTO tmp_cat_tipo_servicio (tipo_servicio, descripcion, fecha_desde, fecha_hasta) VALUES
    ('N/E', 'No especificado o Faltante', '1900-01-01 00:00:00', NULL),
    ('PARTICULAR' ,  'Vehículo particular',  '1900-01-01 00:00:00', NULL),
    ('ALQUILER'   , 'Vehículo de alquiler', '1900-01-01 00:00:00', NULL);
""")

In [0]:
%sql
INSERT INTO tfm_silver_ctg.cat_tipo_servicio (tipo_servicio, descripcion, fecha_desde, fecha_hasta)
SELECT t.tipo_servicio, t.descripcion, t.fecha_desde, t.fecha_hasta
FROM tmp_cat_tipo_servicio t
LEFT JOIN tfm_silver_ctg.cat_tipo_servicio c
  ON t.tipo_servicio = c.tipo_servicio
WHERE c.tipo_servicio IS NULL

In [0]:
spark.sql("DROP TABLE IF EXISTS tmp_cat_tipo_servicio")