In [0]:
spark.sql("DROP TABLE IF EXISTS tmp_cat_clase")

spark.sql("""
    CREATE OR REPLACE TABLE tmp_cat_clase AS
    SELECT * FROM tfm_silver_ctg.cat_clase LIMIT 0
""")

In [0]:
spark.sql("""
    INSERT INTO tmp_cat_clase (clase, descripcion, fecha_desde, fecha_hasta) VALUES
    ('N/E', 'No especificado', '1900-01-01 00:00:00.000', NULL),
    ('CAMION', NULL, '1900-01-01 00:00:00', NULL),
    ('TRAILER', NULL, '1900-01-01 00:00:00', NULL),
    ('MOTOCICLETA', NULL, '1900-01-01 00:00:00', NULL),
    ('TANQUERO', NULL, '1900-01-01 00:00:00', NULL),
    ('JEEP', NULL, '1900-01-01 00:00:00', NULL),
    ('AUTOMOVIL', NULL, '1900-01-01 00:00:00', NULL),
    ('OMNIBUS', NULL, '1900-01-01 00:00:00', NULL),
    ('ESPECIAL', NULL, '1900-01-01 00:00:00', NULL),
    ('VOLQUETA', NULL, '1900-01-01 00:00:00', NULL),
    ('CAMIONETA', NULL, '1900-01-01 00:00:00', NULL);
""")

In [0]:
%sql
INSERT INTO tfm_silver_ctg.cat_clase (clase, descripcion, fecha_desde, fecha_hasta)
SELECT t.clase, t.descripcion, t.fecha_desde, t.fecha_hasta
FROM tmp_cat_clase t
LEFT JOIN tfm_silver_ctg.cat_clase c
  ON t.clase = c.clase
WHERE c.clase IS NULL

In [0]:
spark.sql("DROP TABLE IF EXISTS tmp_cat_clase")