In [0]:
spark.sql("DROP TABLE IF EXISTS tmp_hmg_marca")

spark.sql("""
    CREATE OR REPLACE TABLE tmp_hmg_marca AS
    SELECT * FROM tfm_silver_hmg.homologacion WHERE dominio = 'marca' LIMIT 0
""")

In [0]:
spark.sql("""
    INSERT INTO tmp_hmg_marca (dominio, columna_origen, valor_original, catalog_id, fecha_desde, fecha_hasta) VALUES
    ('marca', 'MARCA', 'YUEDA', 533, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DELTA', 2, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SHERCO', 3, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SOCO', 4, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MZ BIKES', 5, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MCLAREN', 6, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ANKAI', 7, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SDAC WEICHAI', 8, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'YAMAHA', 9, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'EICHER', 10, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'TUNDRA', 11, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DONGFENG', 12, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'AXXO', 13, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HUANGHAI', 14, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ZANYA', 15, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SAFARI', 16, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SMART', 17, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KAIYI', 18, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KAWASAKI', 19, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SHENZHEN FUTENGDA', 20, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MACK', 21, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'VENTO', 22, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'TEKNO', 23, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MTM', 24, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'JRI', 25, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MOTOR 1', 26, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'BUENO CABALLO', 27, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DAKAR', 28, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HARLEM DAYTON', 29, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'JMC', 30, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MITSUBISHI FUSO', 31, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'VOLKSWAGEN', 32, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'AMAZON', 33, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'AMP-AMERICA MAX POWER', 34, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'CF MOTO', 35, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'PIERCE', 36, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'CHUANL', 37, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'FANG POWER', 38, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MIFA', 39, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SPV', 40, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ROCA', 41, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'EASTMAN', 42, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HMT', 43, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SKYWELL', 44, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'FANGPOWER', 45, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'GAS GAS', 46, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'VESPA', 47, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SUPER SOCO', 48, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'CHONGQING', 49, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ASTON MARTIN', 50, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KME', 51, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'AUPA', 52, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'AVANTIER', 53, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'VENTURA', 54, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'QINGLING', 55, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'EVERBRIGHT', 56, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'CENNTRO', 57, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ORO MOTO', 58, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'RIEJU', 59, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'PONTIAC', 60, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'JP1', 61, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'CHENGLONG', 62, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SKODA', 63, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DALON', 64, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'BLUE WHALE', 65, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'BERA', 66, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'LYNK AND CO', 67, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ACURA', 68, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'YONSLAND', 69, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ESCO SPORTS', 70, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'LML', 71, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'RAM', 72, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KINGTON', 73, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ZHIDOU', 74, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KEEWAY', 75, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'BIGGER AMERICAN STYLE', 76, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MERCEDES BENZ', 77, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KEYTON MOTORS', 78, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'BENELLI', 79, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KIKOSAKY', 80, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KAIYUN', 81, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'JOHNSTON', 82, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KALMAR', 83, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'JAGUAR', 84, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HYOSUNG', 85, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HUMMER', 86, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'JEEP', 87, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MICARGI', 88, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HZXINHUI', 89, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'IVECO', 90, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HORWIN', 91, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'CHANGHE', 92, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HIGHPER', 93, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HAOYING', 94, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MTI', 95, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'FUSO', 96, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'UM', 97, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HUASHA', 98, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'A.C.A.', 99, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'BLUE BIRD', 100, '1900-01-01 00:00:00' , NULL );
""")

In [0]:
spark.sql("""
    INSERT INTO tmp_hmg_marca (dominio, columna_origen, valor_original, catalog_id, fecha_desde, fecha_hasta) VALUES
    ('marca', 'MARCA', 'BAW', 101, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HONGQI', 102, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'VTO', 103, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DDM', 104, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'BENTLEY', 105, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'EXPLORER', 106, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'TATA', 107, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'FARIZON', 108, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'TAO MOTOR', 109, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'BEIBEN', 110, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MOTO GUZZI', 111, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DFAC', 112, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DONGFENG VENUCIA', 113, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MONDIAL', 114, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'BORGWARD', 115, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MODERN', 116, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ANWA', 117, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'THUNDER', 118, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'OSHKOSH', 119, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HONDA', 120, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'CHERY', 121, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SONLINK', 122, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'JINMA', 123, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'LOTUS', 124, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'FORD', 125, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'AUDI', 126, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ZEUS', 127, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'BYD', 128, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'OROMOTO', 129, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KIA', 130, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'XINTIAN', 131, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'INFINITI', 132, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'E-CROSS', 133, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'STEYR', 134, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HERO', 135, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DACIA', 136, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ACCONA', 137, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'CIRCUIT', 138, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KINLON', 139, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SUMOTO', 140, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'STIFF', 141, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'GREAT WALL', 142, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'TVS', 143, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HUSQVARNA', 144, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DARLEY', 145, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'YFANG MOTOR', 146, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HUSQUARNA', 147, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'CHANGAN', 148, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'FISKER', 149, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ARTIC CAT', 150, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'YAMOTO', 151, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SANLG', 152, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'LEAPMOTOR', 153, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'XCMG', 154, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ATUL', 155, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'PIONEER', 156, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SKYGO', 157, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'YINXIANG', 158, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ZC', 159, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'BETA', 160, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'JCM', 161, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MITSUBISHI FUSO CANTER', 162, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KENWORTH', 163, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ROSENBAUER MOTORS LLC', 164, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KINGDOM', 165, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'FANTIC', 166, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SKY RIDER', 167, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DFSK', 168, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KARRY', 169, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'FARDIER', 170, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'BMW', 171, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ZEEKR', 172, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'RANGER LUXURY', 173, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'LAMBORBINI', 174, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'TOYOTA', 175, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DR', 176, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MASCARELLO', 177, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'CHEVIER', 178, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MITSUBISHI', 179, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ZFKY', 180, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HAVAL', 181, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DUKARE', 182, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'H-MOTOS HYUNDAI CORP', 183, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KAMAZ', 184, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HOMAN', 185, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'OPEL', 186, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'JAC', 187, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'AKT', 188, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'PIERCE PUMPER', 189, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'JIALING', 190, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'NIMBUS', 191, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ZP', 192, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'GALARDI', 193, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'TOUGH', 194, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'LIANKE', 195, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SHACMAN', 196, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'CFMOTO', 197, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HISUN', 198, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'CLW', 199, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'TRS', 200, '1900-01-01 00:00:00' , NULL );
""")

In [0]:
spark.sql("""
    INSERT INTO tmp_hmg_marca (dominio, columna_origen, valor_original, catalog_id, fecha_desde, fecha_hasta) VALUES
    ('marca', 'MARCA', 'SINOTRUK', 201, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ENRANGER', 202, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'UAZ', 203, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DONGFENG LIUZHOU MOTOR', 204, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'QMC', 205, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'FALCON', 206, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KULL', 207, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SRM', 208, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'QINGQI', 209, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DAX', 210, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'VELOCIFERO', 211, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'JBW', 212, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'XTR', 213, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ROSENBAUER', 214, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'EVA RACING', 215, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'BAOJUN', 216, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'XFEAR', 217, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DONGBEN', 218, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DAF', 219, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'AGY', 220, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SITRAK', 221, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ZX AUTO', 222, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DALLARA', 223, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HUSTCORP', 224, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'AMS', 225, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KAILI', 226, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'BAOTIAN', 227, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MV AUGUSTA', 228, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MAHINDRA', 229, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'JIEDA', 230, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KAMA', 231, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'FORLAND', 232, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'LEONART', 233, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DAEWOO', 234, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KAMAX', 235, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'PEGASO', 236, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'LONCIN', 237, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DAYANG', 238, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'LINCOLN TRUCK', 239, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HYUNDAI', 240, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ICS', 241, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'VOLKAN', 242, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'APOLLO ORION RX 250', 243, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SPEED WONDER', 244, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'WESTERN STAR', 245, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'QSMOTOR', 246, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'YUNA', 247, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SUKIDA', 248, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'FERRARA', 249, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MORBIDELLI', 250, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'OSHKOSH AIRPORT', 251, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'INTERNATIONAL', 252, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'VGA', 253, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'OSAKA', 254, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'STARK', 255, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HANTENG', 256, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'WUXI', 257, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'XINGYUE', 258, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MINI', 259, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'JIESUCHI', 260, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'CAMC', 261, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'CORONEL', 262, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'RIDDARA', 263, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ZOTYE', 264, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'T KING', 265, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KOSHIN MOTOR', 266, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HIGER', 267, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'LAND ROVER', 268, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ROYAL ENFIELD', 269, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'COOPER', 270, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ORION', 271, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'JIAYUAN', 272, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ZEDRIV', 273, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HAOJUE', 274, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KAYO', 275, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'FORMOSA', 276, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'BRILLIANCE', 277, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'FIAT', 278, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SCANIA', 279, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'YCF', 280, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DODGE', 281, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'OKAZAKI', 282, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SUBARU', 283, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HELMARV', 284, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MERCURY', 285, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'JETMOTO', 286, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'EASY', 287, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'CHEVROLET', 288, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ZONSEN', 289, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MOTOR 1 KEEWAY', 290, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'FENGCHI', 291, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MECANIZA', 292, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'APRILIA', 293, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ALFA ROMEO', 294, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'BULTACO', 295, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'JMCGL', 296, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'YOUNGMAN', 297, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'GNE 200', 298, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'BAZN', 299, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'XGJAO', 300, '1900-01-01 00:00:00' , NULL );
""")

In [0]:
spark.sql("""
    INSERT INTO tmp_hmg_marca (dominio, columna_origen, valor_original, catalog_id, fecha_desde, fecha_hasta) VALUES
    ('marca', 'MARCA', 'URVANE MOVILITY', 301, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'TESLA', 302, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'YEMA', 303, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'LEIKE', 304, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'BEST', 305, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'VOYAH', 306, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'FODAY', 307, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'IGM', 308, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ZITRO', 309, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MEGELLI', 310, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HARLEY DAVIDSON', 311, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DUCAR', 312, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DOMY', 313, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'LAIBAOCHI', 314, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'INDIAN', 315, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'TATA DAEWOO', 316, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'YIGE', 317, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'LADA', 318, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'YUANCHENG', 319, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'BAJAJ', 320, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DUPLEX', 321, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'YAKUMA', 322, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MASERATI', 323, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'BMA', 324, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'LANDROVER', 325, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DAYTONA', 326, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ZHONGTONG BUS', 327, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'CNJ', 328, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'POLARIS', 329, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MOTO MORINI', 330, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'JIM', 331, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SAHARA', 332, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'JINPENG', 333, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'Z1', 334, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'TOYO', 335, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'CADILLAC', 336, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'CAN AM', 337, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SCION', 338, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'QOROS', 339, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SOUEAST', 340, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'TRIUMPH', 341, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KING LONG', 342, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SHINERAY', 343, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MAD MAX', 344, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MAXUS', 345, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'WALKER', 346, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'CITROEN', 347, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'PRIX MOTORS', 348, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'JONWAY', 349, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ECORENT', 350, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KAXA MOTOS', 351, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'WANREN', 352, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'BONLUCK', 353, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'WONJAN', 354, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ELSINORE', 355, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'D LONG FC', 356, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'COBRA', 357, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ELECTROMOTO', 358, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'JINCHENG', 359, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SANYA', 360, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'AMERICAN LAFRANCE', 361, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SIMON DUPLEX', 362, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'RENAULT', 363, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ZHONGTONG', 364, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DALI', 365, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'IMVOLTA', 366, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SEGWAY', 367, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'BAIC', 368, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MAX POWER', 369, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'QS MOTOR', 370, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ZONGSHEN', 371, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'TUKO', 372, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MV AGUSTA', 373, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'E-ONE', 374, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SENKE', 375, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'LEXUS', 376, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'AVRESA', 377, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'BISU', 378, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'GASGAS', 379, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MARCO POLO', 380, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'THOMAS', 381, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SN', 382, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SAITO', 383, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SOL', 384, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'FOTON', 385, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'CHRYSLER', 386, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ELEC-MOTION', 387, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'WILDFIRE', 388, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'LINCOLN', 389, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SHM', 390, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'VGV', 391, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'PORSCHE', 392, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'LINGKEN', 393, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SEAT', 394, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'NETA', 395, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'YASAKI', 396, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MAZDA', 397, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KYC', 398, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'JOYLONG', 399, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'EMERGENCY ONE', 400, '1900-01-01 00:00:00' , NULL );
""")

In [0]:
spark.sql("""
    INSERT INTO tmp_hmg_marca (dominio, columna_origen, valor_original, catalog_id, fecha_desde, fecha_hasta) VALUES
    ('marca', 'MARCA', 'CAIO', 401, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'INEOS', 402, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'JINBEI', 403, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MG', 404, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'JIANSHE', 405, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HUSABERG', 406, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ZNEN', 407, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'LING KEN', 408, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'PEGASSO', 409, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'GAC', 410, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'PIAGGIO', 411, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'VOGE', 412, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'GENESIS', 413, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'GMC', 414, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'CAPRIX', 415, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SSANGYONG', 416, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'CAPACITY', 417, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'BUICK', 418, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'CDW', 419, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'LVNENG', 420, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'LIVAN', 421, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'S FYMSACHS', 422, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SALISBURY', 423, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HINO', 424, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HAOJIN', 425, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DONGYUE', 426, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'PEUGEOT', 427, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MTMPH', 428, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MZ 108', 429, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'STERLING', 430, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ZNA', 431, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HONGYAN', 432, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'TRAXX', 433, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'LONGJIA', 434, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SANY', 435, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'T RIDE', 436, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'JUNENG', 437, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'CMA', 438, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MALCOR', 439, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ENERGY ATV', 440, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'VENUCIA', 441, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'NISSAN', 442, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'UD TRUCKS', 443, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'LANDWIND', 444, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'LISHUN', 445, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DORCEN', 446, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'TRAILMASTER', 447, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'FAW', 448, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'LOOSE', 449, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SPEED FIRE', 450, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'JERC', 451, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'BAXY', 452, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MARUTI', 453, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'LEOPAARD', 454, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MX', 455, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HIPHI', 456, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'VOLVO', 457, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'BESTUNE', 458, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'RADAR', 459, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ROX MOTOR', 460, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MINI RAZOR', 461, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SPARTAN MOTORS', 462, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'BRAAAP', 463, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DS', 464, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ISUZU', 465, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'RANGE ROVER', 466, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'FANTIC MOTOR', 467, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'FERRARI', 468, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SUZUKI', 469, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'FACTORY', 470, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'INTERNACIONAL', 471, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'E-ONE FIRE TRUCK', 472, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DAYUN', 473, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SPD SPEEDY MOTOR', 474, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'FREIGHTLINER', 475, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'GEELY', 476, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'YUTONG', 477, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'LAMBORGHINI', 478, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'QIPAI', 479, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HUAXIN', 480, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ZONTES', 481, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'RANGER SH', 482, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'YUE JIN', 483, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'LIBERTY', 484, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'PETERBILT', 485, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KENBO', 486, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ELITE', 487, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'RANGER', 488, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SPARTAN', 489, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'VICTORY', 490, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'APOLLO', 491, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DAIHATSU', 492, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'GRUMMAN', 493, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'VYCAST', 494, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MAN', 495, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SYM', 496, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SWM', 497, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'AGRALE', 498, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'BOSUER', 499, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'BMW MOTORRAD', 500, '1900-01-01 00:00:00' , NULL );
""")

In [0]:
spark.sql("""
    INSERT INTO tmp_hmg_marca (dominio, columna_origen, valor_original, catalog_id, fecha_desde, fecha_hasta) VALUES
    ('marca', 'MARCA', 'CITYCOCO', 501, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KOSHIN', 502, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'BRP', 503, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KYMCO', 504, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HME', 505, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'RCJ', 506, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ZHENGDA', 507, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SPY', 508, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'HUAIHAI', 509, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ATV', 510, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'AUTO CAR', 511, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'WULING HONGGUANG', 512, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KAWEI AUTO', 513, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'GOLDEN DRAGON', 514, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MACAT', 515, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ELECTRIC HOUSE', 516, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'URVANE MOBILITY', 517, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'CLW-25M', 518, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'FENGCHENG', 519, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KTM', 520, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'TMEC', 521, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'NANFANG', 522, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'FACTORY BIKE', 523, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KEYTON', 524, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'KAWEI PK', 525, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'JETOUR', 526, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'FORTHING', 527, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'LIFAN', 528, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'YADEA', 529, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SINAI', 530, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DUCATI', 531, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'SUTPHEN', 532, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'B&M', 533, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'DONGFENG DFM', 12, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'MOTOR UNO', 26, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'RAM 4000', 72, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'STIFF 150', 141, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ZXAUTO', 222, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'CAN-AM', 337, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'T-RIDE', 436, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ZONTES 125', 481, '1900-01-01 00:00:00' , NULL ),
    ('marca', 'MARCA', 'ZONTES 150', 481, '1900-01-01 00:00:00' , NULL );
""")

In [0]:
%sql
INSERT INTO tfm_silver_hmg.homologacion (dominio, columna_origen, valor_original, catalog_id, fecha_desde, fecha_hasta)
SELECT t.dominio, t.columna_origen,t.valor_original, t.catalog_id ,t.fecha_desde, t.fecha_hasta
FROM tmp_hmg_marca t
LEFT JOIN tfm_silver_hmg.homologacion c
  ON t.dominio = c.dominio
  AND t.columna_origen = c.columna_origen
  AND t.valor_original = c.valor_original
  AND t.catalog_id = c.catalog_id
WHERE c.regla_id IS NULL

In [0]:
spark.sql("DROP TABLE IF EXISTS tmp_hmg_marca")