In [0]:
spark.sql("DROP TABLE IF EXISTS tmp_hmg_subclase")

spark.sql("""
    CREATE OR REPLACE TABLE tmp_hmg_subclase AS
    SELECT * FROM tfm_silver_hmg.homologacion WHERE dominio = 'subclase' LIMIT 0
""")

In [0]:
spark.sql("""
  INSERT INTO tmp_hmg_subclase (dominio, columna_origen, valor_original, catalog_id, fecha_desde, fecha_hasta) VALUES
  ('subclase', 'SUBCLASE', 'CAMION PEQUE?O', 63, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'CAMION PEQUEÑO', 63, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'CAMION PEQUEÐO', 63, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'UTILITY', 27, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'HIBRIDO-J', 8, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'TANQUERO', 50, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'ELECTRICO', 16, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'BUS', 49, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'CANASTILLA', 4, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'PASEO', 52, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'WINCHA', 15, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'MINIBUS', 41, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'RECOLECTOR', 44, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'STATION-ORTOPEDICO', 31, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'ELECTRICO-O', 10, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'BUS COSTA', 7, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'AMBULANCIA', 21, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'TRAIL', 22, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'BUSETA', 36, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'CAJON-C', 6, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'FURGON-T', 24, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'CAMION', 38, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'OTROS', 3, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'FURGONETA', 26, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'COUPE', 28, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'VOLQUETA', 62, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'DOBLE PISO', 59, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'BLINDADO', 34, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'DEPORTIVA', 45, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'REPARTO', 30, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'HIBRIDO', 42, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'HIBRIDO-A', 48, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'TRICIMOTO', 64, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'ELECTRICO-A', 17, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'GRUA', 54, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'DOBLE CABINA', 29, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'ELECTRICO-J', 9, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'BUS ESCOLAR', 5, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'PLATAFORMA-T', 51, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'CROSS', 47, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'FURGON-C', 19, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'JEEP', 55, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'TRICAR', 18, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'CUADRON', 46, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'CABINA SIMPLE', 53, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'MOTOBOMBA', 57, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'FURGON', 56, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'ELECTRICO-M', 33, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'TRACTOR', 40, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'PLATAFORMA-C', 35, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'SEDAN', 2, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'CONCRETERA', 23, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'CONVERTIBLE', 37, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'STATION WAGON', 58, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'CABEZAL-T', 39, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'ELECTRICO-C', 61, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'FUNERARIA', 14, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'CAJON-T', 13, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'CAJON', 60, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'COMANDO', 11, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'CAMPERO', 12, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'JEEP-ORTOPEDICO', 25, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'PICK-UP', 43, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'ARTICULADO', 32, '1900-01-01 00:00:00' , NULL ),
  ('subclase', 'SUBCLASE', 'SEDAN-ORTOPEDICO', 20, '1900-01-01 00:00:00' , NULL );
""")

In [0]:
%sql
INSERT INTO tfm_silver_hmg.homologacion (dominio, columna_origen, valor_original, catalog_id, fecha_desde, fecha_hasta)
SELECT t.dominio, t.columna_origen,t.valor_original, t.catalog_id ,t.fecha_desde, t.fecha_hasta
FROM tmp_hmg_subclase t
LEFT JOIN tfm_silver_hmg.homologacion c
  ON t.dominio = c.dominio
  AND t.columna_origen = c.columna_origen
  AND t.valor_original = c.valor_original
  AND t.catalog_id = c.catalog_id
WHERE c.regla_id IS NULL

In [0]:
spark.sql("DROP TABLE IF EXISTS tmp_hmg_pais")